* {
  box-sizing: border-box;
    margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
 color: white;
}
.background-image,
.background-image2 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}


.background-image {
     background-image: url('blackground.jpg'); /* Ruta de la imagen de fondo */
}

.background-image2 {
  background-image: url('pinkground.jpg'); /* Ruta de la imagen de fondo */
}
main {
  padding-top: 6rem; 
}
#navegar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: tomato;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

#navegar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
}

#navegar ul li a {
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.5rem;
  font-style: oblique;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#navegar li a:hover {
  background-color: black;
  color: tomato;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  width: 5rem;
}

.welcome-section {
    text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
font-family: 'Raleway', sans-serif;
font-weight: bold;
 flex-direction: column;
 gap: 0.1rem;
   font-size: 2rem;
}

.welcome-section h1,
.welcome-section h2 {
  margin: 0;     
  padding: 0;          
}

  
.welcome-section h2 {color: white;
   font-size: 2rem; 
  }
 #sobre-mi, #proyectos {
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
  line-height: 1.6;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: black;}


  #formulario {
  margin-top: 10px;
}
.iconpag {
  width: 200px;
  display: block;
  margin: 1px auto; 
  padding-top: 1rem;
}

button#submit {
  width: 100%;
  padding: 12px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button#submit:hover {
  background-color: #2980b9;
}


input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
    min-width: 100vh;
}

#proyectos{
display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.certificadoss{
  display: flex;
  justify-content: center; /* o space-between, flex-start, etc. */
  gap: 2rem;
  padding-top: 2rem;
}

.tituloproyectos {
text-align: center;
  padding: 2rem;
  font-size: 3rem;
  line-height: 1.6;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: black;
  
}

.proyecto-card {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 25rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: whitesmoke;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 2rem;
}

.proyecto-card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

.proyecto-card article {
  padding: 1rem;
}

.proyecto-card img {
  width: 10rem;
  height: auto;
  object-fit: cover;
  border-radius: 0 0 8px 8px;
  display: block;
  margin-top: 1rem;
 margin-left: auto;
  margin-right: auto;
}

.cvsection{
   display: block;
  text-decoration: none;
  color: inherit;
  width: 15rem;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 2rem; 
  margin-left: auto;
  margin-right: auto;
}
.cvsection:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}
.cvsection img {
  width: 15rem;
  object-fit: cover;
  border-radius: 0 0 8px 8px;
  display: block;
  margin-top: auto;
 margin-left: auto;
  margin-right: auto;
}

.footer{
  background-color: tomato;
  color: black;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  text-align: center;
  min-height: 100vh; 
  padding: 50px 20px;
  box-sizing: border-box;
}
#formulario {
  width: 100%;
}

.iconpag {
  width: 200px;
  margin-bottom: 20px;
   filter: invert(1);
}
