* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
   background-image: url('blackground.jpg'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  background-repeat: no-repeat; /* Evita que se repita la imagen */
  background-position: center; /* Centra la imagen */
 color: white;
}


main {
  padding-top: 6rem; 
}
#navegar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: tomato;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

#navegar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
}

#navegar ul li a {
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.5rem;
  font-style: oblique;
  font-family: Arial, sans-serif;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#navegar li a:hover {
  background-color: black;
  color: tomato;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  width: 5rem;
}

.welcome-section {
    text-align: center;
     margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
font-family: 'Bebas Neue', sans-serif;
 flex-direction: column;
 gap: 0.1rem;
   font-size: 2rem;
}

.welcome-section h1,
.welcome-section h2 {
  margin: 0;           /* Quita margen arriba y abajo */
  padding: 0;          *
  }